.responsiveGridColumns {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
  }
}