# See https://help.github.com/articles/ignoring-files/ for more about ignoring introduction.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env introduction
*.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea

# prisma
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
dev.db

# stylelint
.stylelintcache

# next-pwa
sw.js
sw.js.map
workbox-*.js
workbox-*.js.map
.env*.local

# Sentry Config File
.env.sentry-build-plugin
