.article {
  iframe {
    max-width: 100%;
  }
  figure {
    img {
      margin: 0;
      & ~ figcaption {
        text-align: center;
        color: var(--color-grayscale-6);
        a {color: inherit;}
      }
    }
  }
}