.services {
  flex-direction: row;

  .service {
    &:nth-child(1) {
      width: 60%;
    }

    &:nth-child(2) {
      width: 40%;
    }
  }

  @media screen and (width <= 48em) {
    flex-direction: column;

    .service {
      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
      }
    }
  }
}

.faqCards {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 6em 1em;

  @media screen and (width <= 48em) {
    grid-template-columns: 1fr;
  }
}
