body {
  background: #ffffff;
  --mantine-font-family-headings: "Pretendard", "LINESeedKR", sans-serif;
  --mantine-font-family-monospace: "Pretendard", "LINESeedKR", sans-serif;
}

* {
  font-family: "Pretendard", "LINESeedKR", sans-serif;
}